{% raw %}[program:{{project_name}}]
command={{ virtualenv_dir }}/bin/uwsgi --ini /etc/uwsgi/vassals/{{project_name}}.ini
autostart=true
autorestart=true
redirect_stderr=true
stdout_logfile=/var/log/supervisor/uwsgi.log
stopwaitsecs=60
stopsignal=HUP
user={{ django_user }}
group=www-data{% endraw %}
