{% raw %}[uwsgi]
# master
master = true

{% for key, value in env_vars.items() %}
env = {{ key }}={{ value }}
{% endfor %}

{% if is_production %}
# auto reload uwsgi when developing locally
python-autoreload = 1
{% endif %}

# maximum number of processes
# simple rule is no. of cores on machine
processes = {{ ansible_processor_cores }}

# Kill unresponsive process after X sec
harakiri = 30

# reload workers after the specified amount of time in seconds
# default 3 hours, 3*60*60 = 10800
max-worker-lifetime = 10800

# the socket
socket = 127.0.0.1:8001

# run the stats server
stats = 127.0.0.1:1700

# show memery usages per request in logs
memory-report = true

# with appropriate permissions
# chmod-socket = 644
# chown-socket = www-data
uid = www-data
gid = www-data

# the base directory
chdir = {{ django_root_dir }}

# Django's wsgi file
module = {{wsgi_path}}
callable = application

virtualenv = {{virtualenv_dir}}

# exit if no app can be loaded
need-app = true

# clear environment on exit
vacuum = true{% endraw %}
